* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Theinhardt;
}

:root {
  --text-color: #9fa2a7;
  --impact-color: #2b2c2e;
  --h2-color: #27282a;
}

@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.woff");
}

@font-face {
  font-family: "Graphik Medium";
  src: url("../fonts/Graphik-Medium.ttf");
}

@font-face {
  font-family: "TiemposHeadline";
  src: url("../fonts/TiemposHeadline-Semibold.woff");
}

@font-face {
  font-family: Theinhardt;
  src: url("../fonts/Theinhardt-Lt.woff");
}

body {
  max-width: 1440px;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 2vh;
  color: var(--h2-color);
}

.impact-font {
  font-family: "Graphik Medium";
}

/* nav &  title font */
header nav a,
.hero h1,
.hero-text .price {
  font-family: "Graphik";
}

/* headline & logo font */
header .logo,
h2 {
  font-family: "TiemposHeadline";
}

a {
  text-decoration: none;
  color: var(--impact-color);
}

main,
footer {
  margin-inline: 7vw;
}

/* ==== HEADER ==== */

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2vh 7vw;
}

header nav a {
  margin-right: 1.5vw;
  font-size: 0.8rem;
}

header .logo {
  color: var(--impact-color);
  font-size: 1.5rem;
}

header .btn {
  border: 2px solid #48494c;
  border-radius: 3px;
  padding: 0.5vh 3vw;
  color: #3d3e41;
}

header .btn:hover {
  background-color: #3d3e41;
  color: white;
}

/* ==== HERO ==== */

.hero {
  margin-block: 5vh 20vh;
}

.hero h1 {
  text-align: center;
  padding-inline: 5vw;
  font-size: 2.5rem;
}

.hero img {
  width: 100%;
}

/* ==== MAIN ==== */

.hero-text {
  display: flex;
  gap: 5vw;
  align-items: flex-start;
  margin-block: 2vw 15vw;
  color: var(--impact-color);
}

.hero-text p {
  line-height: 2rem;
  width: 54vw;
  font-size: 1.3rem;
}

.hero-text .price {
  width: 15vw;
  line-height: 1.3rem;
  color: var(--text-color);
  font-size: 1.2rem;
}

.hero-text .price span {
  display: block;
  font-size: 3.5rem;
  margin-block: 3vh;
  color: var(--impact-color);
}

/* ==== DELIVERABLES ==== */

.deliverables {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.deliverables img {
  width: max(400px, 40vw);
}

/* ==== DELIVERABLES - TEXT === */

.deliverables article {
  width: 42vw;
}

.deliverables article h2 {
  margin-bottom: 4vw;
}

.deliverables article h3 {
  margin-block: 1.5vw;
  font-size: 1.4rem;
}

.deliverables article p {
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #848689;
}

/* ==== HOW IT WORKS ==== */

.how-to {
  background: #f1f1f4 url("../img/home_how_it_works.png") right/49% no-repeat;
  margin-top: 15vw;
  padding: 8vh 5vw;
  font-size: 1.2rem;
  color: #848689;
}

.how-to img {
  width: 40%;
}

.how-to article {
  margin-bottom: 2vh;
  width: 37vw;
}

.how-to article ol {
  list-style-position: outside;
  margin-left: 2.5rem;
}

/* ==== CRITIQUE ==== */

.critique {
  margin-block: 10vw 13vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.critique p {
  line-height: 2rem;
  font-size: 1rem;
  color: var(--text-color);
}

.critique .background {
  margin-top: 7vw;
  width: 100vw;
}

.critique article {
  width: 100%;
  padding-left: 15vw;
  position: relative;
}

.critique article p {
  transform: translateY(-1vh);
  width: 31vw;
  min-width: 350px;
  text-align: left;
  line-height: 2.4rem;
  font-size: 1.2rem;
}

.critique article img {
  width: 44vw;
  position: absolute;
  right: -5px;
  top: -80px;
}

/* ==== FOOTER ==== */

footer {
  padding-block: 10vh 5vh;
  text-align: center;
  border-top: 1px solid var(--text-color);
  color: var(--h2-color);
}

footer article {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 5vh;
}

footer img {
  width: 7vw;
  text-align: left;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .how-to {
    background-position: 50% 5%;
    background-size: 60%;
    padding-top: 45vw;
  }

  .how-to article,
  .deliverables article {
    width: 100%;
  }

  .deliverables {
    align-items: center;
    flex-direction: column;
  }

  .critique article {
    padding: 0;
  }

  .critique article p {
    margin-top: 6vh;
    text-align: center;
    width: 100%;
  }

  .critique article img {
    position: static;
    width: 100%;
  }

  h2,
  .hero-text .price span {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .how-to {
    background-size: 100%;
    padding-top: 70vw;
  }

  h2,
  .hero-text .price span {
    font-size: 2rem;
  }

  .hero .price {
    font-size: 0.6rem;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  header .logo,
  .hero-text p {
    font-size: 1rem;
  }

  header .btn,
  header nav a {
    font-size: 0.7rem;
  }
}
